footer
    .soc
        a(href="#") 
            svg(class="icon")
                use(xlink:href="#twitter" class="icon")
        a(href="#") 
            svg(class="icon")
                use(xlink:href="#twitter" class="icon")
        a(href="#") 
            svg(class="icon")
                use(xlink:href="#twitter" class="icon")
        a(href="#") 
            svg(class="icon")
                use(xlink:href="#twitter" class="icon")

    p © 2015 Startup, Designed by ShapedTheme